
    <div class="content">
      <div class="header">
        Titel des ORTES: {{ location.title }}
      </div>
      <div class="description">
       Adresse des ORTES: {{ location.address }}
        {{ location.post_code }}
        {{ location.city }}
      </div>

      <br>
    
     <span *ngIf="location.vaccinations && location.vaccinations[0]"> hello </span>
      <div class="metadata">
        
        <div>{{ location["vaccination"]["0"]["max_participants"] }}</div>
        <div>{{ location["vaccination"]["0"]["title"] }}</div>
          
          
        
      </div>
    
    </div>
  