
    <div class="content">
      <div class="header">
        {{ location.title }}
      </div>
      <div class="description">
        {{ location.address }}
        {{ location.post_code }}
        {{ location.city }}
      </div>


      <div>{{ location["vaccination"]["0"]["title"] }}</div>
      <div class="metadata">
        <span *ngFor="let vaccination of location.vaccinations">
          
          <b>{{ vaccination.title }} </b> <br>
          <b>WANN? </b> {{ vaccination.date }}
           
        </span>
        
      </div>
    </div>
  